<h1>Administrative Controls</h1>
<div class="light well">
   
   <h2>Warning: this wipes <em>all</em> the data.</h2>
   <h3>It will also take a little bit of time to run.</h3>
    <%= form_tag reset_game_path, :method => 'post' do %>
      <%= submit_tag "Reset Game" %>
    <% end %>
   
  </div>

<h1> Update Control's message to players: </h1>

<%= form_for @game, url: alert_update_path do |f| %>
 <div class="actions">
    <%= f.label "Update Message" %> </br>
    <%= f.text_field :control_message, :size => "60x5"%></br>
    <%= f.submit %>
  </div>
<% end %>