<%= form_for(@nuclear_code) do |f| %>
  <% if @nuclear_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nuclear_code.errors.count, "error") %> prohibited this nuclear_code from being saved:</h2>

      <ul>
      <% @nuclear_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label "Country" %> </br>
    <%= f.text_field :country%></br>
    <%= f.label "Head of State" %> </br>
    <%= f.text_field :codeA%></br>
    <%= f.label "Military Code" %> </br>
    <%= f.text_field :codeB%></br>
    <%= f.label "Country Flag" %> </br>
    <%= f.select :country_flag, ["flag_brazil.jpg",
      "flag_china.jpg",
      "flag_france.jpg",
      "flag_germany.jpg",
      "flag_india.jpg",
      "flag_japan.jpg",
      "flag_russia.jpg",
      "flag_uk.jpg",
      "flag_us.jpg"] %>
    <%= f.label "Target" %> </br>
    <%= f.text_field :target%></br>

    <%= f.submit %>
  </div>
<% end %>

