<h1>Listing nuclear_codes</h1>

 <div class="table-responsive"> 
 <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Country</th>
      <th>HoS Code</th>
      <th>Military Code</th>
      <th>Flag</th>
      <th>Target</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @nuclear_codes.each do |nuclear_code| %>
      <tr>
        <td><%=nuclear_code.country%></td>
        <td><%=nuclear_code.codeA%></td>
        <td><%=nuclear_code.codeB%></td>
        <td><%= image_tag ("Flags/#{nuclear_code.country_flag}"), 
          height: '50', width: '80'
        %></td>
        <td><%=nuclear_code.target%></td>
        <td><%= link_to 'Show', nuclear_code %></td>
        <td><%= link_to 'Edit', edit_nuclear_code_path(nuclear_code) %></td>
        <td><%= link_to 'Destroy', nuclear_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Nuclear code', new_nuclear_code_path %>
